{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AlgoVerifier</title>

        <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" />
        <link rel="stylesheet" href="{% static 'src/prism.css' %}">

        {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
        {% endcompress %}
    </head>
    
    <body class="bg-gray-100 w-full">
        {% include "_navbar.html" %}
        {% include "_alert.html" %}
        <div class="container mx-auto">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
    
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <script src="{% static 'pages/prism.js' %}"></script>
    <script src="{% static 'pages/verify.js' %}"></script>
</html>
